.customCol{
    background-image: linear-gradient(#1E486C 25%, #26A250 90%);
    min-height: 85vh;
    border: solid black 10px;
    border-radius: 1em;
    box-shadow: 30px 30px #00000090;
}

h1{
    font-family: 'Bangers', cursive;
    font-weight: bolder;
    color: #f2ac34;
    font-size: 6em;
    /* text-shadow: 3px 4px black; */
    -webkit-text-stroke: 3px black;
}

h2{
    font-family: 'Bangers', cursive;
    font-weight: bolder;
    color: #FE7634;
    font-size: 6em;
    /* text-shadow: 3px 4px black; */
    -webkit-text-stroke: 3px black;
}

.customLink{
    font-family: 'Bangers', cursive;
    font-size: 24px;
    letter-spacing: 2px;
    color: #f2ac34;
    -webkit-text-stroke: 1px black;
    margin-top: 1%;
    transition: all .2s ease-in-out;
}

.customLink:hover{
    color: #FE7634;
    transform: scale(1.1);
}

.navContainer{
    background-image: linear-gradient(#1E486C 25%, #26A250 90%);
    border-left: solid black 10px;
    border-right: solid black 10px;
    border-bottom: solid black 10px;
    border-bottom-right-radius: 1em;    
    border-bottom-left-radius: 1em;  
    box-shadow: 6px 6px #00000090;
    min-height: 5vh;
}

.backgroundContainer{
    background-image: linear-gradient(#fe7634, #f2ac34);
    min-height: 100vh;
}